/* title section */
#title{
  background-color: #ff4c68;
}
.titleT{
  padding-top: 7%;
}
.container-fluid{
  padding:3% 15%;
}
.text{
  padding-top: 5%;
}


/* cards sections */
#cards{
  padding:7% 15%;
}
.cards-2{
  padding-top: 15%;
}
.2buttons{
text-align: center;
  }
  /* footer */
.footsection{
  padding-right: 0%;
}
